@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,500");
@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:300');

body {
    text-align: center;
    margin: 0;
    height: 95vh;
}

header {
    background-image: linear-gradient(rgb(73,138,220), rgb(98,59,156));
    height: 100%;
    padding-top: 30px; 
}

header > div > h1 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 0;
}

.endl {
    display: static;
}

#mobileTitle {
    display: block;
}

#webTitle {
    display: none;
}

header > div > h2 {
    color: #2e3192;
    font-size: 1.2rem;
    margin-top: 0;
}

form > span {
    color: white;
}

input[type=text] {
    margin-right: 10px;
    background-color: #2e3192;
    border: 0;
    color: white;
}

button[type=submit] {
    color: white;
    background-color: rgb(120,138,220);
    border: 0;
}

#icon0 {
    max-width: 280px;
    padding-top: 30px;
}

#icon1 {
    display: none;
}

/* #icon0 {
    max-width: 70%;
} */

#currInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Saira Extra Condensed', sans-serif;
    color: white;
}

#hour0 {
    font-size: 2.4rem;
}

#currTime {
    font-size: 2.4rem;
}

.v1 {
    border-left: 1px solid black;
    height: 130px;
    margin-right: 5px;
}

#temp0 {
    font-size: 5rem;
}

#cityForm {
    display: inline-block;
    text-align: left;
}

.ibmPlex {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
}

.arrow {
    max-height: 20px;
    margin-top: 6vh;
}

.showForecast {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    animation: slide-in;
    animation-duration: 1.0s;
    animation-fill-mode: forwards;
}

@keyframes slide-in {
    from {top: 100vh;}
    to {top: 0vh;}
}

.hideForecast {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    animation: slide-out;
    animation-duration: 1.0s;
    animation-fill-mode: forwards;
}

@keyframes slide-out {
    from {top: 0vh;}
    to {top: 100vh;}
}

#searchBar{
    padding-left: 8px;
    padding-top: 2.5px;
    padding-bottom: 2px;
}

main {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Saira Extra Condensed', sans-serif;
}

.hour {
    font-size: 1.7rem;
}

.icon {
    max-width: 30%;
}

.temperature {
    font-size: 5rem;
}

.v2 {
    border-top: 1px solid black;
}

#radar {
    display: none;
}

@media (min-width: 500px) {
    body {
        display: flex;
        flex-direction: column;
    }

    header {
        height: 60vh;
    }

    .endl {
        display: none;
    }

    #mobileTitle {
        display: none;
    }

    #webTitle {
        display: block;
        margin-bottom: 0;
        font-size: 2.1rem;
    }

    header > div > h2 {
        margin-top: 0;
        font-size: 1.5rem;
    }

    #currIcon1 {
        max-width: 200px;
    }
    
    main {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: static;
        height: 40vh;
    }
    
    .card {
        display: flex;
        flex-direction: column;
    }
    
    .icon {
        max-width: 90%;
    }

    .arrow {
        display: none;
    }

    #currTime {
        line-height: 40px;
        font-size: 2rem;
    }

    #hour0 {
        line-height: 40px;
        font-size: 2rem;
    }

    .v1 {
        height: 60px;
        margin-right: 10px;
        margin-left: 5px;
    }

    .v3 {
        border-left: 1px solid black;
        height: 150px;
    }

    #caMap{
        clip-path: circle(40%);
        position: absolute;
        filter: grayscale(85%);
    }
    
    #cityNames{
        position: absolute;
        clip-path: circle(40%);
    }
    
    #radar{
        /*clip-path: circle(40%);*/
        padding-top: 20px;
        display: block;
    }
    
    #img-holder{
        clip-path: circle(40%);
    }
}

@media (min-width: 800px) {
    header {
        box-shadow: 0 0 30px;
    }

    main {
        height: 40vh;
    }

    #currIcon1 {
        display: none;
    }
    
    #currIcon2 {
        display: block;
        margin-bottom: 20px;
    }
}